body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.header{background: #FFF8F3;}
nav{display: flex;align-items: center;justify-content: space-between;}
.nav-tittle{
    color: var(#181818);
 
    font-size: 45px;
    font-style: normal;
margin-left: 160px;
    
}
.nav-link{display: flex;margin-right: 150px;}
.nav-link li{list-style: none;padding: 10px;margin-left: 20px;}
.Rcolor{color: #FD6E0A;
    font-size: 45px;
    font-style: normal;
    }
    .hire{border-radius: 5px;
        background: #FD6E0A;
       color: white;
        font-family: Open Sans;
        font-size: 20px;
       
        line-height: normal;}
        .nav-img{color: rgba(24, 24, 24, 0.15);
          margin-top: -80px;
            font-size: 40px;
            font-style: normal;
            letter-spacing: 33px;}
            .banner-nav{padding: 50px 170px;}
            .hiret{padding: 10px;border-radius: 10px;
                color: var(--White-Color, #FFF);
text-align: center;
font-family: Open Sans;
font-size: 18px;
border: none;
line-height: normal;
 background-color: #FD6E0A;}
 .banner{display: flex;
justify-content: space-between;
background-image: url("../images/header_bg.png");

background-repeat: no-repeat;
background-position: bottom right;
background-size: 400px;
}
img{height: 300px;
width: 300px;padding: 0px 40px;
margin-top: 50px;}
.about-nav{
    text-align: center;
    border-radius: 10px;
background: #FFF8F3;
margin: 50px 80px 0px 80px;
padding: 100px;
}
.design{color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;}
    .tour{color: var(--Dark-03, #757575);
        text-align: center;
        margin-left: 80px;
        font-size: 14px; 
        font-weight: 400;
        line-height: 30px;}
h2{
    margin-left: 100px
    ;font-size: 15px;
}      
.what-nav{
    text-align: center;
    border-radius: 10px;

margin: 50px 80px 0px 80px;
padding: 100px;
}  

.skill-container{
    display: flex;
    align-items: center;
    justify-content: center;
  gap: 30px;
}
.skill{align-items: center;
    width: 267px;
    height: 377px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);}
 .skill-pic{
    width: 40px;height: 40px;
    /* margin-left: 140px; */
}
.skill-head{padding-right: 100px;}
p{margin-left: 40px;}
.skill-head{margin-left: 40px;
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}

.education-part{display: flex;
align-items: center;
justify-content: center;
gap: 50px;margin-top: 50px;}
.my-eduction{color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}
    
    .skill-desc{margin-left: 50px;}
    .experience{padding: 30px;
    }
    .design-p{
        color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
    }
    .download{padding: 10px;border-radius: 10px;
        color: var(--White-Color, #FFF);
margin-left:550px;

font-size: 18px;
border: none;
line-height: normal;
background-color: #FD6E0A;
margin-top: 100px;}